<div class="row">
  <h3 class= 'center-align'>Course Listing</h3>
</div>


<div class="row">
  <% @courses.each do |course| %>
    <div class="col s6 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= course.short_name %>: <%= course.name %></span>
          <p><%= course.description%></p>
        </div>
        <div class="card-action">
          <% if logged_in? && !(current_user.courses.include?(course))%>
            <%= link_to "Enroll", course_enroll_path(course_id: course.id), data: {turbo_method: :post} %>
          <% end %>
          <%# powyzszy link_to zaciaga id konkretnego kursu i poprzez klikniecie odnosnika przerzuca id do controllera %>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  <%end %>
</div>
